
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>下载文件的示例</h1>
    @Html.ActionLink("下载文件","FileAPI","Default")
</body>
</html>
