
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>按照文件路径输出文件</h1>
    <a href=" @Url.ActionLink("FilePathTest", "Default")">点击</a>
   

</body>
</html>
