@model string
@{
    ViewData["Title"] = "Home Page";
}
<h1>@ViewBag.Guid1</h1>
<h1>@ViewBag.Guid2</h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
