
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form enctype="multipart/form-data" action="/Demo/Test" method="post">
            <input name="file" type="file" />
            <button type="submit">提交</button>
        </form>
    </div>
</body>
</html>
