
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    
    <h2>@TempData["temp"]</h2>
    <h1>@TempData["fengle"]</h1>
</body>
</html>
